{% extends 'layout.html.twig' %}

{% block title %}
    {{ article.name }}
{% endblock %}

{% block body %}
    <div>
        <a href="/"><button>Написать статью</button></a>
        <a id="edit-link" style="display:none"><button>Редактировать</button></a>
    </div>
    </div>
    <hr>
    <section class="page container">
        <h1>{{ article.name }}</h1>

        <div class="content">
            {{ article.body|raw }}
        </div>
    </section>
{% endblock %}

{% block javascript %}
    <script>
        $('#edit-link').attr("href", "/edit/{{ article.id }}");
        if ("{{ mayEdit }}") {
            $('#edit-link').show();
        }
        if ("{{ accessToken }}")
            document.cookie = "accessToken = {{ accessToken }}";
    </script>
{% endblock %}
